body{                                                           /*Definerer fonten til body for nettsiden, og at margen er 0*/
    margin:0;
    font-family: sans-serif;                                   
}

.navbar a:hover {                                               /*Gir knappen du har musepekeren på i navbaren en annen farge*/
    background-color:rgb(206, 131, 18);
}

.navbar a.active {                                              /*Gjør at navbaren viser hvilken side du er på, ved å endre farge på den hyperlinken*/
    background-color: rgb(253, 211, 96);
    color: rgb(0, 0, 0);
}

.overskrifter {                                                  /*Endrer størrelse på overskrift, samt gir mellomrom mellom overskriftene og det rundt*/
    font-size: xx-large;                         
    margin-top: 80px;
    text-align: center;
}

.underoverskrifter {                                               /*Gjør underoverskrifter mindre enn overskrifter*/
    font-size: large;
    margin-left: 30px;
    margin-top: 60px;
}

.ul_topical {
    text-decoration: none;
}

dd, dt {
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-size: large;
}

dl {
    border: 5px solid orange;
    border-radius: 20px;
    padding-top: 10px;
}

.image1 {                                                       /*Endrer størrelse på bildet, men sammtidig holder riktig sørrelsesforhold*/   
    background-image: url("../Images/OsloMet.webp");
    min-height: 600px;
    background-position: center;
    background-size: cover;
}

.image_prototyper {                                             /*Endrer størrelse på bildet, men sammtidig holder riktig sørrelsesforhold*/
    background-size: cover;
    max-height: 350px;
    padding-top: 60px;
    padding-bottom: 40px;

}

.image_prototype2 {                                            /*Endrer størrelse på bildet, men sammtidig holder riktig sørrelsesforhold*/
    background-size: cover;
    max-height: 350px;
    padding-top: 60px;
    padding-bottom: 40px;
}   

.image_p35{                                                   /*Endrer størrelse på bildet, men sammtidig holder riktig sørrelsesforhold, gir også mellomrom på venstre side*/
    background-size: cover;
    max-height: 310px;
    padding-top: 10px;
}

.images_campus{
    width: 400px;
    height: auto;
    margin-left: 25px;
    
}
.image_kantine{
    width: 232.3px;
    height: 222px;
    margin-left: 25px;
}

.paragrafer {                                                      /*Endrer størrelse på paragraf, og gir mellomrom til margen på venstre side for å være lik som overskriften*/
    font-size: medium;
    margin-left: 30px;
}

.footer {                                                       /*Gir footeren en farge, og endrer form og fasong på skriften i den. Gjør også at footeren tar opp hele bredden av skjermen*/
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: orange;
    color: black;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    padding:1px;
}


/*Tatt fra https://www.w3schools.com/howto/howto_css_two_columns.asp*/
* { box-sizing: border-box; }

.column {                       /*Lager to kolonner ved siden av hverandre der begge kolonner tar 50% av bredden*/
    float: left;
    width: 50%;
    padding: 5px;
    text-align: center;
  }
  
  .row:after {                      /*For å tilpasse høyde etter innhold*/
    content: "";
    display: table;
    clear: both;
  }



/*navbar for Pilestredet.html*/
.p35{                                                                    /*Endrer farge på skrift og bakgrunn, samt definerer elementers bredde og høyde*/
    box-sizing: border-box;                 
    background-color: #525252;
    color: white;

    .footer{                                                            /*Endrer farge på footeren for å være lik den nye navbaren*/
        background-color: darkslategray;
        color: white;
    }
}
.navbar_img_p35{ 
    alt:"Foto: Arthur Thonrud Flotvik";                             /*Definerer størrelse og skalering, sikrer også at bildet ikke repeterer seg, eller ikke fyller ut den tildelte plassen */
    background-image: url("../Images/p35_top.webp");
    min-height: 403.2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.container_navbar_p35{                                                   /*Bestemmer posisjon på navbaren, og størrelse på skriften i den*/
    position: absolute;
    margin: 20px;
    width: auto;
}
.navbar_p35{                                                            /*Gir hyperlinkene en bagrunnsfarge så de er lette å se, og bestemmer at overflødig innholod skal skjules*/
    overflow: hidden;
    background-color: darkslategray;
}
.navbar_p35 a{                                                          /*Definerer størrelse og fasong på linkene eller "a" elementene i navbaren*/
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar_p35 a:hover{                                                /*Endrer farge på navbaren når musepekeren er på den*/
    background-color: rgb(77, 129, 129);
}
.navbar_p35 a.active {                                              /*Gjør at navbaren viser hvilken side du er på, ved å endre farge på den hyperlinken*/
    background-color: rgb(77, 129, 129);
}
.foto_creds {                                                       /*Legger tekst nede til venstre i et bilder*/
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    position: absolute;
    bottom: 30px;
    left: 16px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bolder;
  }


/*Hamburer meny*/ 
/* Kilde for oppsett av denne: https://oslomet.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=e07c0035-72e8-41fd-a7de-b09800a14526(Canvas eller > DATA1200 > Lecture notes > CompletePage_02_Simple-Burger-menu*/

#burger-toggle{                                          /*Skjuler alle elementer med id:burger-toggle*/
    display: none;
}

@media (min-width: 701px) {
    .navbar{                                                /*Setter verdier for navbaren der skjermen er min. 701px bred*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;                                       /*For å fjerne uønsket scrolling som viser mellomrommet vi fjernet i body*/
    position: fixed;                                        /*For å på navbaren til å holde seg i bildet, selv når man scroller*/
    top: 0;                                                 /*Plasserer navbaren 0px fra toppen*/
    width: 100vw;                                           /*Setter vidden til hele slik at det ikke blir hvite kanter*/
    background-color: orange;
    margin-top: 0;
}

.navbar a{                                                  /*Setter verdier for "a" elementene i navbaren der skjermen er min. 701px bred*/
    padding-right: 4rem;
    font-weight: bold;
    font-size: 20px;
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 80px;
    text-decoration: none; 
}
}

@media (max-width: 700px){
    .navbar{                                                /*Setter verdier for navbaren der skjermen er maks 700px bred*/
        list-style-type: none;
        position: sticky;
        padding-left: 0px;
        float: right;
        margin-top:0;
        width: auto;
    }

    .navbar a{                                              /*Setter verdier for "a" elementene i navbaren der skjermen er maks 700px bred*/
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 15px;
        padding: 14px 80px; 
    }

    .navbar-icon{                                           /*Definerer ikonet for hamburgermenyen som skal bytte ut navbaren*/
        display: block;
        background-color: orange;
        background-image: url(../images/menu.svg);
        background-size: cover;
        height: 50px;
        width:50px;
    }

    .hamburger-toggle-container{                            /*Gjør at musepekeren endrer seg når den er på hamburgermeny-ikonet, slik at man vet at det er en knapp*/
        cursor: pointer;
    }

    .navbar li{                                             /*Setter verdier for "li" elementene i navbar-klassen for å gjøre den penere*/
        height: 0px;
        overflow:hidden;
        text-decoration: none; 
    }

    #burger-toggle:checked ~ .navbar li{                   /*Setter verdier for menyen som kommer når man trykker på hamburgermenyen*/
        height: 1rem;
        width: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: orange;
    }

    nav{                                                    /*Setter verdier for "nav" elementene*/
        display: flex;
        height: 40px;
    }
}

@media (max-width: 1300px){                                /*Skalerer navbar for alt mellom tlf og desktop (701px-1300px)*/
    .navbar a{
        font-weight: bold;
        font-size: 18px;
        padding: 14px 20px;
    }
}