
.Ulpage1 {
    list-style: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: orange;    
}

.nav-text {
    text-decoration: none;
    color: black;
    text-align: left;
    word-spacing: 10px;
    padding-left: 40px;
    
}

.nav-text:hover {
    background-color:darkgoldenrod;

}


.OverskriftP1 {
    font-size: xx-large;
    font-family: sans-serif;
}

.image1 {
    background-image: url("bilde/Background1.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.skrift1 {
    font-size: medium;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: black;
    text-align: center;
    line-height: 22px;
}