body{
    margin:0;
    font-family: sans-serif;                                   /*Gjør at navbaren kommer het opp på nettsiden, uten mellomrom*/
}

.navbar {
    overflow: hidden;                           /*For å fjerne uønsket scrolling som viser mellomrommet vi fjernet i body*/
    position: fixed;                            /*For å på navbaren til å holde seg i bildet, selv når man scroller*/
    top: 0;                                     /*Plasserer navbaren 0px fra toppen*/
    width: 100vw;                               /*Setter vidden til hele slik at det ikke blir hvite kanter*/
    background-color: orange;
    color: #fff;
    margin-top: 0%;                             /*Setter margen til 0px*/
}

.navbar a {                                     /*Endrer form, farge og fasong på knappene til de ulike sidene*/
    font-weight: bold;
    font-size: 20px;
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;                      /*Fjerner strekene under hyperkoblingene*/
}

.navbar a:hover {                               /*Gir knappen du har musepekeren på en annen farge*/
    background-color:rgb(206, 131, 18);
}

.navbar a.active {                              /*Gjør at navbaren viser hvilken side du er på, ved å endre farge på den hyperlinken*/
    background-color: rgb(253, 211, 96);
    color: rgb(0, 0, 0);
}

@media (max-width: 1301px) {                    /*gjør at navigasjonsbaren blir listet nedover, slik at den er bedre for telefon. Har også endret slik at navbaren ikke følger med siden da den opptar mye plass*/
    .navbar a{
        float:none;                 
        font-size: 15px;
        padding: 4px 20px
    }
    .navbar{
        position: sticky;
    }
}


.overskrift1 {                                  /*Endrer størrelse på overskrift, samt gir mellomrom mellom overskriftene og det rundt*/
    font-size: xx-large;                         
    margin-top: 60px;
    margin-left: 30px;
}

.image1 {                                       /*Endrer størrelse på bildet, men sammtidig holder riktig sørrelsesforhold*/   
    background-image: url("bilde/Background1.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skrift1 {                                      /*Endrer størrelse på paragraf, og gir mellomrom til margen på venstre side for å være lik som overskriften*/
    font-size: medium;
    margin-left: 30px;
}

.footer {                                       /*Gir footeren en farge, og endrer form og fasong på skriften i den. Gjør også at footeren tar opp hele bredden av skjermen*/
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: orange;
    color: black;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    padding:1px;
}